<md-card>
  <md-input-container>
    <input [(ngModel)]="input" md-input placeholder="Пека ID" (ngModelChange)="search($event)" (keyup)="confirm($event)">
  </md-input-container>
  <md-list *ngIf="autocompleteList.length > 0">
    <md-list-item *ngFor="let variant of autocompleteList">
      <a (click)="OnClickAutoselectItem(variant)">{{variant.name}}</a>
      <md-chip-list [ngSwitch]="variant.group">
        <md-chip color="primary" selected="true" *ngSwitchCase="'viewer'">Зритель</md-chip>
        <md-chip  color="accent" selected="true" *ngSwitchCase="'streamer'">Стример</md-chip>       
        <md-chip color="warn" selected="true" *ngSwitchCase="'peka'">Пека</md-chip>
      </md-chip-list>
    </md-list-item>
  </md-list>
</md-card>